# Auto-detect text files and perform LF normalization
* text=auto

# Cuze standard text files
*.js text
*.json text
*.css text
*.html text
*.md text
*.py text
*.ts text
*.vue text
*.yaml text
*.yml text

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
*.pdf binary
*.doc binary
*.docx binary
*.xls binary
*.xlsx binary
*.ppt binary
*.pptx binary
